[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/plugins/start/omnisharp-vim"]
	path = vim/pack/plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim/pack/plugins/start/omnisharp-roslyn"]
	path = vim/pack/plugins/start/omnisharp-roslyn
	url = https://github.com/OmniSharp/omnisharp-roslyn.git
[submodule "vim/pack/plugins/start/vim-jsx-pretty"]
	path = vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/plugins/start/vim-less"]
	path = vim/pack/plugins/start/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/pack/plugins/start/html5.vim"]
	path = vim/pack/plugins/start/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/pack/plugins/start/vim-json"]
	path = vim/pack/plugins/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/pack/plugins/start/bufexplorer"]
	path = vim/pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/pack/plugins/start/vim-markdown"]
	path = vim/pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/plugins/start/vim-multiple-cursors"]
	path = vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-dispatch"]
	path = vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/plugins/start/vader.vim"]
	path = vim/pack/plugins/start/vader.vim
	url = https://github.com/junegunn/vader.vim.git
[submodule "vim/pack/plugins/start/github"]
	path = vim/pack/plugins/start/github
	url = https://github.com/reedes/vim-pencil
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/pack/plugins/start/vim-colors-solarized"]
	path = vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/plugins/start/Dockerfile.vim"]
	path = vim/pack/plugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/pack/plugins/start/tcomment_vim"]
	path = vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/pack/plugins/start/vim-elixir"]
	path = vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/pack/plugins/start/VimBlog"]
	path = vim/pack/plugins/start/VimBlog
	url = https://github.com/danielmiessler/VimBlog.git
[submodule "vim/pack/plugins/start/vim-LanguageTool"]
	path = vim/pack/plugins/start/vim-LanguageTool
	url = https://github.com/dpelle/vim-LanguageTool.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/pack/plugins/start/vim-ragtag"]
	path = vim/pack/plugins/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "pack/plugins/start/ack.vim"]
	path = pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
